#buttons {
    display: flex;
    justify-content: center;
}

.flex-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: 2.5em;
}

.scores {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.fighter {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    width: 10em;
    height: 10em;
}

#results {
    display: flex;
    justify-content: center;
}